## .NET BACKEND

[Bb]in/
[Oo]bj/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Visual Studio
.vs/

# NuGet
packages/
*.nupkg
*.snupkg

# JetBrains Rider
.idea/

# Coverage
coverage/
*.coverage
*.coveragexml

# Publish outputs
publish/
out/

# Logs
*.log
*.tlog


## REACT FRONTEND

node_modules/
build/
dist/
.cache/
*.cache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*



## ENV FILES

.env
.env.*
*.env.local
*.env.development
*.env.production
*.env.test

# EXCEPTIONS — these must be versioned!
!.env.example
!.env.template


## ============================================
##                DOCKER
## ============================================
docker-data/
docker-volume/
*.tar


## ============================================
##              VS CODE
## ============================================
.vscode/
.history/


## ============================================
##                 OS
## ============================================
Thumbs.db
.DS_Store
*.tmp


## ============================================
##                 GIT
## ============================================
.gitconfig
.fake
