# Byte-compiled / optimized / dll files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.pytest_cache/

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/

# Virtual environment
venv/
env/

# Logs and databases
*.log
*.sqlite3

# Uploaded media
/media

#dotenv
.env
